@media screen and (min-width: 801px) {
  body {
    width: 40em;
    margin: 0 auto;
  }
}

body {
  /* mobile: distance from left/right edge */
  padding: 0 1em;

  font-size: large;
  font-family: sans-serif;
}

/* Remove underline */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

/* Somehow body {} doesn't do this */
input {
  font-size: large;
  padding: 0.5em;  /* for upload button */
}

td {
  padding: 0.5em;
}
